p {
  border: 2px solid orange;
  border-radius: 5px;
}

body {
  background: Yellow;
}
<style>
p {outline-color:red;}
p.dotted {outline-style: dotted;}
</style>
</head>
<body>

h1 {
color: Orange;
margin-left: 50px;
}
#website{
  border-radius: 25px;
  width: 40px;
  border: 15px solid #f0fff0;
  padding: 300px;
  margin: 20px;
}

  #dog {
    border-radius: 25px;
    width: 40px;
    border: 15px solid #f0ff53;
    padding: 300px;
    margin: 20px;
}
#dirt {
  border-radius: 25px;
  width: 40px;
  border: 15px solid #f0f423;
  padding: 300px;
  margin: 20px;
}
#hash {
  border-radius: 25px;
  width: 40px;
  border: 15px solid #f0f543;
  padding: 300px;
  margin: 20px;
}
#little {
  border-radius: 25px;
  width: 40px;
  border: 15px solid #f0f432;
  padding: 300px;
  margin: 20px;
}


p.double{
  border-style; double
}


p{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background: Blue;
}

#dirt {
  padding-top: 50px;
  padding-right:30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: red;

}

#hash {
  padding-top: 50px;
  padding-right:30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: pink;

}

#little {
  padding-top: 50px;
  padding-right:30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: purple;

}
.monospace {
  font-family: "Lucida Console", Courier, monospace;
}
#dog {
  padding-top: 50px;
  padding-right:30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: brown;

}

#website{
  padding-top: 50px;
  padding-right:30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: white;

}
